.contact-page,
.contact-page * {
  box-sizing: border-box;
}
.contact-page {
  background: #a38cff;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.frame-2 {
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 70px;
  top: 26px;
}
.bmgt-407 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 36px;
  font-weight: 400;
  position: relative;
}
.frame-1 {
  display: flex;
  flex-direction: row;
  gap: 32px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: calc(50% - -207px);
  top: 36px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.homepage {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
}
.about {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
}
.contact {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: relative;
}
.contact-us {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Bold", sans-serif;
  font-size: 60px;
  font-weight: 700;
  position: absolute;
  left: 80px;
  top: 147px;
  width: 1280px;
}
.frame-7 {
  width: 1127px;
  height: 484px;
  position: absolute;
  left: 80px;
  top: 233px;
}
.reach-out-to-the-course-team-for-support-or-inquiries {
  color: #ffffff;
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1127px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.professor-contact-details-paul-t-shapiro-pshapiro-umd-edu {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 174px;
  width: 1127px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.professor-contact-details-paul-t-shapiro-pshapiro-umd-edu-span {
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
}
.professor-contact-details-paul-t-shapiro-pshapiro-umd-edu-span2 {
  font-family: "Montserrat-Regular", sans-serif;
}
.ta-contact-details-bharath-sreekumar-bsreekum-umd-edu-caifu-lin-clin-0817-terpmail-umd-edu-sumanth-devara-sdevara-umd-edu {
  color: #ffffff;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 0px;
  top: 348px;
  width: 1127px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ta-contact-details-bharath-sreekumar-bsreekum-umd-edu-caifu-lin-clin-0817-terpmail-umd-edu-sumanth-devara-sdevara-umd-edu-span {
  font-family: "Montserrat-Bold", sans-serif;
  font-weight: 700;
}
.ta-contact-details-bharath-sreekumar-bsreekum-umd-edu-caifu-lin-clin-0817-terpmail-umd-edu-sumanth-devara-sdevara-umd-edu-span2 {
  font-family: "Montserrat-Regular", sans-serif;
}
